<div id="header">
  <h1>Immigration Document Upload App</h1>
  <img alt="Angular Logo" src="../assets/images/ImmDocsOnChain-logo-v1.png">
  <nav>
    <a class="btn" routerLink="ds2019" routerLinkActive="active">DS-2019</a>
    <div class="space"></div>
    <a class="btn" routerLink="i20" routerLinkActive="active">I-20</a>
    <div class="space"></div>
    <a class="btn" routerLink="i94" routerLinkActive="active">I-94</a>
    <div class="space"></div>
    <a class="btn" routerLink="passport" routerLinkActive="active">Passport</a>
    <div class="space"></div>
    <a class="btn" routerLink="sponsoredstudents" routerLinkActive="active">Sponsored Student Docs</a>
    <div class="space"></div>
    <a class="btn" routerLink="visa" routerLinkActive="active">Visa</a>
    <div class="space"></div>
    <a class="btn" routerLink="visa-stamp" routerLinkActive="active">Visa-Stamp</a>
  </nav>

</div>